.appContainer{
    background-color: rgb(235, 236, 213);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    min-width: 1080px;
    min-height: 1920px;
    
}

.contentContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* max-width: max-content; */
    /* max-height: max-content; */
}

.bodyHorizontal{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50vw;
    padding-top: 5vh;
    
}

.bodyHorizontal2{
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: max-content;
  
}

.title{
    display: block;
    font-size: 10vh;
    font-family: 'Calibri';
    text-align: left;
}

.titleMid{
    position: relative;
    flex-basis: auto;
    display: block;
    font-size: 5vh;
    font-family: 'Calibri';
    text-align: center;
    cursor: pointer;
    background-color: rgb(225, 208, 132);
    border-radius: 5vw;
    padding-left: 2vw;
    padding-right: 2vw;

}

.width10{
    width: 10vw;
}

.clickable{
    cursor: pointer;
    font-family: 'Calibri';
    background-color: rgb(225, 208, 132);
    border-radius: 2vw;
    padding: 1vh;
}
.window{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
    min-width: 30vw;
    min-height: 30vh;
    width: min-content;
    height: min-content;
    font-family: 'Calibri';
    background-color: rgb(242, 241, 228);
    border: 0.2vw solid black;    
    border-radius: 5vh;
    align-items: center;
    align-content: center;
  }

  .boldText {
    font-weight: bold;
  }
  .hidden{
    display: none;
  }

  .smalltitle{
    font-family: 'Calibri';
    position: relative;
    flex-basis: auto;
    display: block;

    background-color: rgb(225, 208, 132);
    border-radius: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .smalltitle2{
    font-family: 'Calibri';
    position: relative;
    flex-basis: auto;
    display: block;

    background-color: rgb(225, 208, 132);
    border-radius: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    width: max-content;
  }

  .tutText{
    font-size: 3vh;
    font-family: 'Calibri';
    color: red;
    padding: 3vh;
}

.tableClass {
  width: 100%;    /* This will make the input field fill the table cell */
  height: 100%;   /* Adjust height as necessary, 100% may not always be the desired outcome */
}
