
<div class="tableAppContainer">
    <input class="hidden" type="file" #fileInput (change)="importFile($event)" accept=".csv">
    <div class="window" *ngIf="IEwindow"> 
        <div class="clickable" (click)="toggleImportExportWin()">🗙</div>
        <div class="clickable" (click)="exportToCSV()">export table as CSV</div>
        <div>1. Select delimiter for import file</div>
        <select #selectElem (change)="setDelimiter(selectElem.value)">
            <option value=",">Comma (,)</option>
            <option value=";">Semicolon (;)</option>
            <option value="\t">Tab (\t)</option>
            <option value=":">Colon (:)</option>
            <option value="|">Pipe (|)</option>
            <option value=" ">Space (" ")</option>
            <option value="\n">New Line (\n)</option>
        </select>
          
        <!-- Input for user-specified delimiter -->
        <input 
        class="width10" type="text" #customDelimiterInput 
        (input)="setDelimiter(customDelimiterInput.value)" 
        placeholder="Enter custom delimiter">
          

        <div>2. Select Format type</div>
        <select #selectElem (change)="setFormType(selectElem.value)">
            <option vaue="1">
                headers are in top row, data is below
            </option>
            <option vaue="2">
                headers are in left most column, data is on the right
            </option>

        </select>
        <div class="clickable" (click)="fileInput.click()">import CSV for table</div>
    </div>
    <div class="window" *ngIf="TWindow"> 
        <div class="clickable" (click)="toggleTransData()">🗙</div>
        <app-transform></app-transform>
    </div>
    <div class="tableActions">
        <div class="tableActionsText" (click)="tableDataService.clearTable()">clear table</div>
        <div class="tableActionsText" (click)="tableDataService.addColumn()">add column</div>
        <div class="tableActionsText" (click)="tableDataService.addRow()">add row</div>
        <div class="tableActionsText" (click)="tableDataService.delColumn()">delete column</div>
        <div class="tableActionsText" (click)="tableDataService.delRow()">delete row</div>
        <div class="tableActionsText" (click)="toggleImportExportWin()">import/export data</div>
        <div class="tableActionsText" (click)="toggleTransData()">transform data</div>
    </div>
    <div class="tableContainer">
        <table>
            <thead>
                <tr>
                    <th *ngFor="let key of tableDataService.getKeys(); let i = index">
                        <select #selectElem (change)="tableDataService.setHvalue(key,selectElem.value)">
                            <option value="auto">auto</option>
                            <option value="metric">metric</option>
                            <option value="nominal">nominal</option>
                            <option value="ordinal">ordinal</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <!--IMPORTANT: we iterate through tableTypes because otherwise angualr would rerender on each change!!! -->
                    <th *ngFor="let key of tableDataService.getKeys()">
                        <input class="boldText" type="text" #inputElem 
                        [ngModel]="tableDataService.getHvalue(key)"
                        (input)="tableDataService.changeHeaderName(key,$event.target.value)">
                    </th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of tableDataService.getTableData(); let index = 0 ;">
                    <td *ngFor="let keys of tableDataService.getKeys()">
                        <input type="text" 
                        [ngModel]="row[keys]" 
                        (ngModelChange)="">
                    </td>
                </tr>
            </tbody>
          </table>
    </div>
</div>