<div class="tableAppContainer">
    <div class="tableActions">
        <div class="tableActionsText">clear table</div>
        <div class="tableActionsText" (click)="addColumn()">add column</div>
        <div class="tableActionsText" (click)="addRow()">add row</div>
        <div class="tableActionsText" (click)="delColumn()">delete column</div>
        <div class="tableActionsText" (click)="delRow()">delete row</div>
        <div class="tableActionsText">import/export data</div>
        <div class="tableActionsText">transform data</div>
        <div class="tableActionsText">options</div>
    </div>
    <div class="tableContainer">
        <table>
            <thead>
                <tr>
                    <th *ngFor="let header of tableHeaders">
                      <input type="text" [(ngModel)]="header['value']">
                    </th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of tableData">
                    <td *ngFor="let header of tableHeaders">
                        <input type="text" [(ngModel)]="row[header['value']]">
                    </td>
                </tr>
            </tbody>
          </table>
    </div>
</div>