<div class="contentContainer">
    <div class="tutText">1. Select or Modify data!</div>
    <app-table></app-table>
    <div class="tutText">2. Select Computation</div>
    <select (change)="onChange($event)">
        <option value="/statisticscalculator/descriptive">descriptive</option>
        <option value="/statisticscalculator/diagrams">diagrams</option>
        <option>hypothesis tests</option>
        <option>correlation</option>
        <option>regression</option>
        <option>factor analysis</option>
        <option>reliability</option>
        <option>cluster</option>
        <option>mediation moderation</option>
        <option>decision trees</option>
        <option>Receiver Operating Characteristic</option>
        <option>survival analysis</option>
        <option>Equivalence & Non-inferiority </option>
        <option>Association analysis</option>
        <option>Process capability</option>
        <option>Measurement system analysis</option>
    </select>
    <div>
        <div >click me</div>
        <router-outlet></router-outlet>
    </div>
    <div class="tutText">3. Select Inputs</div>
    <div class="tutText">4. View Results</div>

</div>
