<div>
  <div class="tutText">3. Select Inputs</div>

  <div>
      <div class="smalltitle">metric variables:</div>
      <ng-container *ngFor="let key of tableDataService.getKeys(); let i = index">
        <div *ngIf="tableDataService.getHvalue(key)[0] === 'metric'">
          <input type="checkbox" 
                 #inputElem
                 [value]="key" 
                 [ngModel]="tableDataService['tableHeaders'][key][1]" 
                 (change)="tableDataService.setHvalue(key,'',inputElem.checked)">
          {{ key }}
        </div>
      </ng-container>
    </div>    
    
    <div>
      <div class="smalltitle">ordinal variables:</div>
      <ng-container *ngFor="let key of tableDataService.getKeys(); let i = index">
        <div *ngIf="tableDataService.getHvalue(key)[0]  === 'ordinal'">
          <input type="checkbox" 
                 #inputElem
                 [value]="key" 
                 [ngModel]="tableDataService['tableHeaders'][key][1]" 
                 (change)="tableDataService.setHvalue(key,'',inputElem.checked)">
          {{ key }}
        </div>
      </ng-container>
    </div>
    
    <div>
      <div class="smalltitle">nominal variables:</div>
      <ng-container *ngFor="let key of tableDataService.getKeys(); let i = index">
        <div *ngIf="tableDataService.getHvalue(key)[0]  === 'nominal'">
          <input type="checkbox" 
                 #inputElem
                 [value]="key" 
                 [ngModel]="tableDataService['tableHeaders'][key][1]"  
                 (change)="tableDataService.setHvalue(key,'',inputElem.checked)">
          {{ key }}
        </div>
      </ng-container>
    </div>
    
    
</div>

<div class="tutText">4. View Results</div>
<div class="smalltitle">average</div>
<div *ngFor="let key of getAverageKeys()">
  {{ key }} : {{ averages[key] }}
</div>

<div class="smalltitle">Median</div>
<div *ngFor="let key of getMedianKeys()">
  {{ key }} : {{ medians[key] }}
</div>


<div class="smalltitle">Variance</div>
<div *ngFor="let key of getVarianceKeys()">
  {{ key }} : {{ Variances[key] }}
</div>



<div class="smalltitle">Geometric Mean</div>
<div *ngFor="let key of getgeoMeanKeys()">
  {{ key }} : {{ geoMeans[key] }}
</div>


<div class="smalltitle">highest occurences / modes</div>
<div *ngFor="let key of getModeKeys()">
  {{ key }} : {{ modes[key] }}
</div>



<div class="smalltitle">Standarddeviation / modes</div>
<div *ngFor="let key of getStdKeys()">
  {{ key }} : {{ stddevs[key] }}
</div>